body { 
    margin: 0; 
    padding-bottom: 3rem;
}

#form { 
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem; 
    position: fixed; bottom: 0;
    left: 0;
    right: 0; 
    display: flex; 
    height: 4rem; 
    backdrop-filter: blur(10px); 
}

#textBox{
    width: 100%;
}

#Message {
    list-style-type: none;
    margin: 0; 
    padding: 0; 
}

#Message > li { 
    padding: 0.5rem 1rem; 
}

#Message > li:nth-child(odd) { 
    background: #efefef; 
}


.MessageBox{
    display: none;
}


section.login{
    display: flex;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
}

section.login > div{
    width: 450px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section.login form{
    display: flex;
    flex-direction: column;
}

button{
    text-decoration: none;
    margin-right: 0.625%;
    text-align: center;
    margin-top: 1%;
}